* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background: url(./imagen/football-player-celebrating-victory.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}